---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Multi-Modal Input",
    description:
      "Record your voice directly in the app, upload an audio clip, or paste text to receive comprehensive speech feedback.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Personalized Communication Styles",
    description:
      "Select from multiple communication modes like authoritative, conversational, or persuasive to get tailored voice improvement recommendations.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Real-Time AI Feedback",
    description: "Receive instant, actionable tips on tone, pitch, pacing, and articulation to help you communicate more effectively in various settings.",
    icon: "bx:bxs-data",
  },
  {
    title: "Context-Aware Analysis",
    description:
      "Input job descriptions, interview questions, and personal goals to receive hyper-targeted communication advice.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Performance Tracking",
    description:
      "Get summary statistics, percentile scores, and progress tracking to visualize your communication skill improvements over time.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Interview Preparation Toolkit",
    description:
      "Analyze your responses against job descriptions, highlight keywords, and provide structured feedback to boost interview confidence.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to ace your next interview
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Tailored for any user needing interview prep, Q & Ace comes with all the bells and whistles. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
